/* 
h1{
    text-shadow: 3px 6px 9px rgb(150, 67, 238);
    border: 2px solid black;
    border-radius: 12px;
    height: 150px;
    width: 250px;
    margin-left: 1100px;
    text-align: center;
    font-weight: 900;
    color: rgb(47, 227, 255)
} */