 *{ background-color: burlywood;}
 
 .btn{
    color: rgb(216, 39, 39);
    background-color: rgb(44, 196, 219);
    height: 30px;
    width: 280px;
    border-radius: 12px;
}
.inpt{  height: 30px;
    width: 180px;
    border-radius: 12px;}


    .ctrn{ 
        height: 530px;
        width: 400px;
    border: 1px solid black;
border-radius: 12px;
 margin-left: 1000px;
 margin-top: 250px;
 padding: 5px;

}
